@import "tailwindcss";

@layer theme {
  :root {
    --font-sans: 'Inter', system-ui, sans-serif;
  }
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-900;
    font-family: var(--font-sans);
  }
}